server:
  port: 19010

spring:
  application:
    name: gateway-service

  cloud:
    # Nacos配置
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: DEFAULT_GROUP

    gateway:
      # 启用服务发现
      discovery:
        locator:
          enabled: true     # 开启动态路由
          lower-case-service-id: true   # 服务名转小写（推荐）
      # 路由配置
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**

# 日志配置
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    root: INFO


